<h1>Please fill the following form</h1>

<div class="form-container">
    <form [formGroup]="profile" class="profile">
        <div class="name section">
            <p for="fullName">Nome completo:</p>
            <input type="text" id="fullName" formControlName="fullName">
            <p *ngIf="profile.get('fullName')?.hasError('required')  && profile.get('fullName')?.touched" class="error-message">
                Este campo é obrigatório.
            </p>
        </div>
        <div class="emailAddress section">
            <p for="email">Email:</p>
            <input type="text" id="email" formControlName="email">
            <p *ngIf="profile.get('email')?.hasError('required')  && profile.get('email')?.touched" class="error-message">
                Este campo é obrigatório.
            </p>
            <p *ngIf="profile.get('email')?.hasError('email')  && profile.get('email')?.touched" class="error-message">
                Formato inválido.
            </p>
        </div>
        <div class="NIF section">
            <p for="nif">NIF:</p>
            <input type="text" id="nif" formControlName="nif">
            <p *ngIf="profile.get('nif')?.hasError('required')  && profile.get('nif')?.touched" class="error-message">
                Este campo é obrigatório.
            </p>
            <p *ngIf="profile.get('nif')?.hasError('invalidNif')  && profile.get('nif')?.touched" class="error-message">
                Formato inválido.
            </p>
        </div>
        <div class="date-of-birth section">
            <p for="date-of-birth">Data de Nascimento:</p>
            <input type="date" id="date-of-birth" formControlName="dateOfBirth">
            <p *ngIf="profile.get('dateOfBirth')?.hasError('invalidAge') && profile.get('dateOfBirth')?.touched" class="error-message">
                Este formulário só pode ser preenchido por maiores de 18 anos.
            </p>
        </div>
        <div class="country section">
           <p for="country">País:</p>
           <select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target)" [ngModelOptions]="{standalone: true}">
              <option value="0">Selecione um país</option>
              <option *ngFor="let country of countries?.countries" [value]="country.id">{{ country.name }}</option>
            </select>
        </div>

        <div class="city section">
            <p for="city">Cidade:</p>
            <select>
                <option value="0">Selecione uma cidade</option>
                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>

            </select>
        </div>
        <div class="submit">
            <button class="submit" [disabled]="!isFormValid()">Submit</button>
        </div>
    </form>
</div>
