/*.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
}

.submit {
    display: flex;
    justify-content: center;
}

.error-message {
  color: red;
}

#addressStreet {
  width: 100%
}
